body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('/Users/kpvarma/Documents/Sunrise-alaram-app/Alarm.jpg');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

.card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    text-align: center;
    width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #FF6F61; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF5A4C; 
}

#location, #Alarm-display {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
